{% extends "html-templates/base.html" %}
{% load static %}


{% block title %} о клубе {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/club_page.css' %}">
    <div class="content">
        <h2>О клубе</h2>
        <h3>
            Polyal Squad - международная киберспортивная организация, созданная в 2019 году.
          Основной офис команды базируется в Московской области, г. Лобня.
          <p></p>
              На сегодняшний день мы представлены в таких дисциплинах,
              как CS2 (Voppor, Nice to Meet You, E_klips_E>3, Xlupik, I see pain in your eyes),
              Dota 2 (Voppor, Xlupik, _lamborkyni_, АнтохаГПМ, KMG),
              Hearthstone (Voppor, temporu),  MLBB (Voppor, Ансония*155, Sandatsu_sha, Black_light, Camelia).
          <p></p>
              Наша цель - стабильно выступать на высоком уровне в каждой из дисциплин и конкурировать
              с лучшими киберспортивными клубами мира. Мы хотим внести позитивный вклад в комьюнити
              с помощью интересного контента, purpose-инициатив и коллабораций.
          <p></p>
            Наши последние достижения: Все еще впереди.
        </h3>
    </div>
{% endblock %}