{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <div class="container">
        <h2>Вход</h2>
        <div id="error-message" class="error"></div>
        <input type="text" id="username" placeholder="Имя пользователя">
        <input type="password" id="password" placeholder="Пароль">
        <button onclick="loginUser()">Войти</button>
        <p>Нет аккаунта? <a href="{% url 'register_page' %}">Зарегистрироваться</a></p>
    </div>

    <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
